.header{
  padding:10px 5px 5px 5px;
  background-color: blue;
  
}

.body{
  position: relative;
  display: flex;
  flex-direction: column;
  margin-left:25vw;
  margin-top:25px;
}
.background{
  position:absolute;
  background-image: url("./Components/background.jpg");
  height:89vh;
  width:100vw;
}
.url{
  text-align: center;
  width:50vw;
  height:30px;
}
.click{
  margin-top: 10px;
  margin-left: 17vw;
  text-align: center;
  width:20vw;
  height:30px;
}
.click:hover{
  background-color: red;
}

#shorturl{
  position:relative;
  background-color: white;
  padding:5px;
  height:30px;
  width:50vw;
  margin-top: 20px;
}
p{
  font-size: 20px;
  font-style: italic;
  font-family: sans-fransic;
  padding:5px;
  background-color:white;
  width:10vw;
}
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
#copyText{
  position:relative;
  margin-top:2px;
  padding:3px;
  height:5vh;
  widht:10vw;
}
#copyText:hover{
  background-color: green;
}
